[gameplay]
    [gameplay.replies]
        shoot = [
            "bang", 
            ]
        befriend = [
            "befriend", "bef"
            ]

    [gameplay.send_intervals]
        # all intervals measured in seconds
        minimum = 900 # 15 min
        maximum = 5400 # 1hr 30min / 90min

[api]
    [api.check_intervals]
        # all intervals measured in seconds
        replies = 10
    
    [api.authentication]
        secrets_path = "./clientcred.secret"

[logging]
    # see docs on the python logging library
    level = "INFO"
    file = "duck-hunter.log"
    format = "%(asctime)s // %(levelname)s // %(message)s"